.select {
    display: inline-block;
    position: relative;

    &__input {
        width: 250px;
        min-height: 25px;
        border: 1px solid grey;
        border-radius: 5px;
        position: relative;
        padding: 10px 30px 10px 0;
        padding-right: 30px;

        &-icon {
            position: absolute;
            min-height: 25px;
            padding: 0 7px;
            top: 0;
            right: 5px;
            display: flex;
            align-items: center;
            transform: rotate(90deg);
            height: 100%;

            &:hover {
                cursor: pointer;
                color: rgba(0, 0, 0, .5);
            }
        }
    }
}